.ant-modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  // 弹窗上下20，内边距上下20，标题按钮23、44
  max-height: calc(100vh - 32px - 44px - 40px - 60px);
  /* 滚动条轨道 */
}

.ant-modal {
  max-height: calc(100vh - 40px - 20px);
  top: 40px;
  padding-bottom: 0px;
}
